*{
    margin: 0vw;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgb(40, 123, 134);
}
.btn-top{
    margin: 2vh 30px;
    background: none;
    border: none;
    font-size: large;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease-in-out;
} 
.btn-top:hover{
    transition: 0.4s ease-in-out;
    color: black;
    font-size: 1.3rem;
}
.container2{
    display:flex ;  
    height: 100vh;
}
.a1{
    flex: 1;
    background-color: rgb(37, 157, 173);
    display: flex;
    justify-content: center;
}
.a2{
    display: flex;
    justify-content: center;
    flex: 1;
}
.a3{
    margin: 5vw;
    justify-items: center;
}
h1.result{
    color: white;
    font-weight: 400;
    margin: 7vw;
}
h1.pesquisa{
    font-size: 5vh;
    font-weight: 400;
    margin-top: 2vw;
}
input{
    border-radius: 17px;
    display: flex;
    border: none;
    width: 16vw;
    height: 2.8vh;
    box-shadow: 0px 7px 15px  rgba(0, 0, 0, 0.452);
    padding: 6px;
    margin: 12vh;
}
.btn{
    margin: 2vh;
    width: 16vw;
    height: 3.5vh;
    background: rgb(37, 157, 173);
    border: none;
    font-size: large;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1.6vh;
    transition: 0.4s ease-in-out;
}
#ipt1{
    display: flex;
    margin: 8vh;

}
#ipt2{
    display: flex;
    margin: 8vh;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #f0f0f0;
}